
/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #0ef;
}

.entete, .pied{
    background-color: #12326b;
}

.global{
    min-height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 5rem;
}



/* MENU NAVIGATION */
#burger {
    position : fixed;
    top: 20px;
    right: 20px;
    border : 1px solid #aaa;
    border-radius: 5px;
    font-size: 1.1rem;
}

#menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position : fixed;
    top: 100px;
    right: 20px;
    border : 1px solid #00f;
    border-radius: 25px;
    background-color: #07235f;
    color: #fff;
    transition: transform .5s;
    transform: translateX(300px);
    width: 200px;
    height: 400px;
}

#menu a {
    color : #fff;
    display : block;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: bold;
}


#chk-burger{
    display : none;
    width : 200px;
    border : 2px solid #f00;
    padding: 10px;
}

#chk-burger:checked + #menu {
    transform: translateX(0);
}



/* HEADER */

.entete .hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

nav a{
    text-decoration: none;
    color: #0ef;
}

.intro{
    display: flex;
    flex-wrap: wrap;
}

.portion-texte{
    flex: 2 0 400px;
}

.portion-texte p{
    font-weight: bold;
    line-height: 2;
}

figure{
    flex: 1 0 400px;
}

img{
    width: 100%;
    height: 100%;
}



/* SECTIONS */

body section:nth-of-type(1){
    background-color: hsl(0, 69%, 50%);
}
body section:nth-of-type(2){
    background-color: hsl(10, 69%, 50%);
}
body section:nth-of-type(3){
    background-color: hsl(20, 69%, 50%);
}
body section:nth-of-type(4){
    background-color: hsl(30, 69%, 50%);
}
body section:nth-of-type(5){
    background-color: hsl(40, 69%, 50%);
}



/* FOOTER */



